<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 997}}</string>
		<string>{{266, 0}, {1444, 997}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>09CB6337-856A-40E2-B528-91A83D601B3A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3425317C-3F78-4240-9F68-CE7253F3CCC7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>365F682D-718F-43EC-BB9D-5ABED7C2B0E4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3CFB550A-16AF-4AFC-8559-427EE59129B4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>46D5E9F4-E976-4FC2-8E17-9DAD885384BF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>810B253E-5F0F-4CD5-8C3B-065657C7B299</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B2787213-7338-474E-ADCC-8E8B2BAB0788</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B4F5D52E-A633-45F7-8F63-C45FE83F3963</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DB9411AA-9060-416A-8B6E-8B7B41E713D7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F7ECF29E-3F93-4D6A-8897-B39054963926</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>exportFilesFormat</key>
	<integer>3</integer>
	<key>fullScreenBackgroundFade</key>
	<real>1</real>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperWidth</key>
	<integer>850</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {342, 987}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>248</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{-412, 0}, {1444, 907}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>0 34 1710 1025 0 0 1710 1074 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{-1, 0}, {621, 290}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
