<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 1018}}</string>
		<string>{{266, 0}, {1462, 1018}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>0AF6FC86-01AA-4503-BF21-5098C4A4F61D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>21F7CE22-8C9B-44DE-A562-EBE4E40A1953</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>507E7198-51C9-42F6-A6AC-7E3F69B0A1A2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>90E00BA5-D6E5-4D55-9685-0B646DBBC380</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AC878B07-2064-4030-A56E-6C371E31BB95</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B21F8A85-EBE0-48E5-866A-24C850833F7A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenBackgroundFade</key>
	<real>1</real>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperWidth</key>
	<integer>850</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {345, 640}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{-421, 3590.5}, {1462, 932}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>0 33 1728 1046 0 0 1728 1079 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{-1, 0}, {621, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
