<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {239, 997}}</string>
		<string>{{240, 0}, {607, 997}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>03472954-BB49-4118-9883-D50C8DB772F6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1C13C4D4-1AAB-4F16-843C-74A1DE7F6A89</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1CDDED3D-7BC5-46AB-8232-FF4A8CA4CBA0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>41E39EB9-BA18-4147-BB78-780850D12171</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>455ACEA0-E6DA-4E0C-B216-B320A5C4875A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>64AF428A-0BB3-4A41-82B4-30D9B86F5CCF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>65A0948A-F3D5-4948-BF91-7532B84A5457</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>67E216F0-7F8B-447F-82C1-CFC208E878D7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>77F86A54-D6E1-49E7-8FC3-67C483B9468B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>89ED0B12-6826-4127-9D24-F369C68B1249</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>93C016A1-4DAD-4651-83EE-7C7822305A67</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A4DF2B88-07D1-4B11-B0BD-32A98FC38056</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AB02F970-1388-4B8C-BE89-949B3D931409</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B1E25AAF-85E7-4326-94D3-835DE3AF6AB8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B3F16BAB-E341-4703-825E-DEB13B15F079</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CC4988B5-43DD-462C-90A2-1DE0C5A2661E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CECE6DAB-8DCF-42B5-A2CA-069A0029A069</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D17B4FE4-E38F-48F9-9BA8-B6A0DA43EA70</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DB1C3CFF-8314-49AB-B8FF-38D555723F07</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E8E6756E-C277-401A-B6FC-0363F7A19402</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EBCEAFFE-9379-451D-A2F4-80CABA09E9F6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FE4DAFD3-8E5E-457B-83B3-414CCD1AF75A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {342, 987}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>248</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 913.66666666666663}, {404.66666666666663, 604.66666666666663}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>862 34 847 1025 0 0 1710 1074 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{-1, 0}, {621, 290}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
