<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 997}}</string>
		<string>{{266, 0}, {1144, 997}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>045A4448-177B-43C9-8C6B-B7950D9A70A3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>41BC43EC-2690-4A6C-AC46-A662241B8403</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>44A899A4-84AD-48AC-809C-F367937CF787</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4725E209-539A-4DBA-BCB5-88456B5F6ADE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4D98775A-967A-4B04-8170-7AF74D574B66</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4EAF12E6-77C6-475D-AF24-3FF7AE60B563</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4F0ED829-2F4A-4509-B5D6-190D1FC0797C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5C7205CA-48B3-4F79-9AF6-B33D52C60BEF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5E320CC0-816A-4996-A0D6-DAD931713430</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>708E758A-6C1D-461C-9F11-7BF88124540E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>75588641-11CD-4996-A219-9696F39F2D7C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>929818E5-BEB1-41EA-BE85-E2DF794FEF9A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>99FB3F55-A523-499F-8754-A95AF295233E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A06CC5F3-1FD6-4CAE-A19A-B6A660D4DED4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B3ABAB8B-C0E7-4A2B-AD85-63E4433DADAB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BB069120-CD42-4C74-AF7F-875462C0C218</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BB638BC1-C28C-40CA-9E7F-6EFB2C10BB5C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C489C065-4CFD-4252-9573-7339E40DD247</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C5A98854-816A-4460-9C61-70DCF7FC02F3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E349AA63-F9BD-49C6-8B8B-8E6800A29D99</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E6C68E73-1F84-40F3-80AC-2EDBE580D8E0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E727F9E1-8CDA-4A27-BE44-D5B07409423E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ED046587-A087-4D56-A0BF-6664D592D46D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ED93D93A-2F0F-4DE7-9D9F-12C0F0F79818</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EE0D4182-9836-4E77-BD71-7B8AE0812526</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EEF996D3-98B3-4A70-A776-32CD09B2C477</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F6E1D1C5-7A69-4400-8E87-E56220132152</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenBackgroundFade</key>
	<real>1</real>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperWidth</key>
	<integer>850</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {342, 987}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>248</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{-262, 625}, {1144, 907}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>862 34 1410 1025 0 0 1710 1074 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{-1, 0}, {621, 290}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
